<app-container-base>
	@if (!this.erro()) {
		@if (entidade$ | async; as entidade) {
			<div class="flex flex-col gap-16">
				<div class="flex items-center justify-between gap-8 sm:flex-row max-sm:flex-col-reverse">
					<h2 class="f2">Editar Entidade</h2>
					<button type="button" class="max-sm:w-full remove" title="Excluir Entidade" (click)="remove(entidade)" [disabled]="formIsDisabled()">
						Excluir
					</button>
				</div>
				<div class="block w-full">
					<app-entidade-form [entidade]="entidade" (isDisabled)="formIsDisabled.set($event)" />
				</div>
			</div>
		} @else {
			<div class="flex flex-col items-center w-full gap-16 sm:items-start fade-in">
				<h2 class="f4">Carregando...</h2>
			</div>
		}
	} @else {
		<div class="flex flex-col items-center w-full gap-16 sm:items-start fade-in">
			<h2 class="f4">Ops! :(</h2>
		</div>
	}
</app-container-base>
