@if (!this.erro()) {
	@if (dataCombined$ | async; as data) {
		<app-container-base>
			<div class="flex flex-col items-center w-full gap-16 sm:items-start">
				<h2 class="f2">Criar Entidade</h2>
				<div class="block w-full">
					<app-entity-form
						[entityForm]="entityForm"
						[regionais]="data.regionais"
						[especialidades]="data.especialidades"
						[isLoading]="isLoading()"
						[isFormSubmited]="isFormSubmited()"
						(save)="save()"
						(cancel)="cancel()"
					></app-entity-form>
				</div>
			</div>
		</app-container-base>
	} @else {
		<app-container-base>
			<div class="flex flex-col items-center w-full gap-16 sm:items-start">
				<h2 class="f2">Carregando...</h2>
			</div>
		</app-container-base>
	}
} @else {
	<app-container-base>
		<div class="flex flex-col items-center w-full gap-16 sm:items-start">
			<h2 class="f2">Ops! :(</h2>
			<button class="default" title="Tentar novamente" (click)="reloadData()">Tentar novamente</button>
		</div>
	</app-container-base>
}
