<div class="multi-selector">
	<!-- Botão Toggle -->
	<button class="multi-selector-toggle" (click)="toggleMenu()" type="button">
		<span class="line-clamp-1">{{ getSelectedLabel() || "Selecione" }}</span>
	</button>

	<!-- Menu Dropdown -->
	<div [class.open]="isOpen()" class="multi-selector-menu">
		@for (item of items(); track item[selectionKey()]) {
			<label class="multi-selector-item">
				<input type="checkbox" [checked]="checkedValues()(item)" (change)="toggleSelection(item)" />
				<span>{{ item[label()] }}</span>
			</label>
		}
	</div>
</div>
