@if (totalPages() > 1) {
	<nav class="pagination">
		<!-- Botão Prev -->
		<button type="button" class="pagination-button" [disabled]="currentPage() === 1" (click)="goToPage(currentPage() - 1)">
			<app-icon icon="heroChevronLeft" />
		</button>

		<!-- Botões de Página -->
		@for (page of visiblePages; track $index) {
			<button type="button" class="pagination-button" [ngClass]="{ active: page === currentPage() }" (click)="handlerClick(page)">
				{{ page }}
			</button>
		}

		<!-- Botão Next -->
		<button type="button" class="pagination-button" [disabled]="currentPage() === totalPages()" (click)="goToPage(currentPage() + 1)">
			<app-icon icon="heroChevronRight" />
		</button>
	</nav>
}
