<app-container-base>
	<p>Criar Conta</p>
	<form class="flex flex-col gap-4" [formGroup]="registerForm" (ngSubmit)="register()">
		<div>
			<input type="text" [readOnly]="false" formControlName="name" placeholder="Jane Doe" />
		</div>
		<div>
			<input type="email" [readOnly]="false" formControlName="email" placeholder="jane@mail.com" />
		</div>
		<div>
			<input type="password" [readOnly]="false" formControlName="password" placeholder="******" />
		</div>
		<button type="submit" title="Criar Conta">Criar Conta</button>
	</form>
</app-container-base>
