/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary: 142.1 76.2% 36.3%;
	--primary-foreground: 355.7 100% 97.3%;
	--secondary: 240 4.8% 95.9%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 142.1 76.2% 36.3%;
	--radius: 0.5rem;
	--font-montserrat: "Montserrat";
	--font-poppins: "Poppins";
}

@layer base {
	* {
		@apply border-border font-montserrat;
	}
}

input,
textarea {
	@apply w-full rounded-lg outline-none bg-background px-3 py-2 border focus:outline-none focus:ring-1 focus:ring-accent text-sm  transition-all ease-in-out duration-300 max-sm:duration-0;
}

input.is-invalid,
textarea.is-invalid {
	@apply border border-destructive focus:outline-none focus:ring-1 focus:ring-destructive focus:border-destructive;
}
