/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: 220 10% 98%; /* branco suave com um toque azul */
	--foreground: 220 15% 15%; /* cinza escuro para legibilidade */
	--card: 220 10% 97%; /* similar ao fundo, mas com leve contraste */
	--card-foreground: 220 20% 10%; /* cinza escuro consistente */
	--popover: 220 10% 95%; /* leve contraste para popovers */
	--popover-foreground: 220 15% 15%; /* leitura clara no popover */
	--primary: 210 30% 60%; /* azul suave e confiável */
	--primary-foreground: 0 0% 100%; /* branco para contraste no botão primário */
	--secondary: 190 20% 85%; /* verde claro e calmante */
	--secondary-foreground: 190 20% 20%; /* verde médio */
	--muted: 220 20% 95%; /* cinza claro neutro */
	--muted-foreground: 220 20% 40%; /* cinza médio para visibilidade */
	--accent: 190 40% 50%; /* verde suave para destaques */
	--accent-foreground: 0 0% 100%; /* branco para contraste */
	--success: 120 40% 50%; /* verde calmo e positivo */
	--success-foreground: 0 0% 100%; /* branco para contraste */
	--destructive: 0 50% 50%; /* vermelho moderado para elementos destrutivos */
	--destructive-foreground: 0 0% 100%; /* branco para contraste */
	--border: 220 20% 85%; /* cinza azul frio para bordas */
	--input: 220 20% 85%; /* consistente com a cor da borda */
	--ring: 210 30% 60%; /* azul para um foco agradável */
	--radius: 0.5rem;
	--font-montserrat: "Montserrat";
	--font-poppins: "Poppins";
}

@layer base {
	* {
		@apply border-border font-montserrat;
	}
}

.fade-in {
	animation: fadein ease-in-out 0.5s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.f1,
.f2,
.f3,
.f4,
.f5,
.f6 {
	@apply tracking-wide font-poppins text-accent;
}

.f1 {
	@apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-semibold;
}

.f2 {
	@apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-semibold;
}

.f3 {
	@apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-normal;
}

.f4 {
	@apply text-xl md:text-2xl lg:text-3xl xl:text-4xl font-normal;
}

.f5 {
	@apply text-lg md:text-xl lg:text-2xl xl:text-3xl font-normal;
}

.f6 {
	@apply text-base md:text-lg lg:text-xl xl:text-2xl font-normal;
}

.first-uppercase::first-letter {
	@apply uppercase;
}

label:not(.selector-item, .multi-selector-item) {
	@apply flex justify-start text-sm mb-1 ms-1 text-accent font-semibold;
}

/* Classe padrão input e textarea */
input,
textarea {
	@apply w-full rounded-lg outline-none bg-background px-3 py-2 border focus:outline-none focus:ring-1 focus:ring-accent text-sm  transition-all ease-in-out duration-300 max-sm:duration-0;
}

/* Classe para estados inválidos em input e textarea */
input.is-invalid,
textarea.is-invalid {
	@apply border border-destructive focus:outline-none focus:ring-1 focus:ring-destructive focus:border-destructive;
}

/* Classe padrão para o select */
select {
	@apply w-full rounded-lg outline-none bg-background px-3 py-2 border focus:ring-1 focus:ring-accent text-sm transition-all ease-in-out duration-300 max-sm:duration-0;
}

/* Classe para estados inválidos do select */
select.is-invalid {
	@apply border border-destructive focus:outline-none focus:ring-1 focus:ring-destructive focus:border-destructive;
}

/* Tailwind CSS para o tema personalizado */
.checkbox {
	@apply w-5 h-5 accent-accent rounded-lg outline-none bg-background border px-3 py-2 focus:ring-1 focus:ring-accent text-sm transition-all ease-in-out duration-300 max-sm:duration-0;
}

.checkbox-label {
	@apply flex items-center gap-2 text-sm cursor-pointer w-fit;
}

button.default {
	@apply w-auto min-w-24 rounded-lg bg-background px-3 py-2 border text-sm focus:outline-none focus:ring-1 focus:ring-accent transition-all ease-in-out duration-300 max-sm:duration-0;
}

// .no-scrollbar {
// 	scrollbar-width: none; /* Para navegadores que suportam */
// 	-ms-overflow-style: none; /* Para navegadores da Microsoft */
// }

// .no-scrollbar::-webkit-scrollbar {
// 	display: none; /* Para navegadores baseados no WebKit */
// }
