<div class="selector">
	<!-- Botão Toggle -->
	<!-- Este botão abre/fecha o menu dropdown -->
	<button class="relative selector-toggle" (click)="toggleMenu()" type="button" [ngClass]="ngClass()" [disabled]="isLoading()">
		<span class="line-clamp-1">{{ getSelectedLabel() || "Selecione" }}</span>
		<app-icon [icon]="isOpen() ? 'heroChevronUp' : 'heroChevronDown'" class="absolute inset-y-0 right-2" />
	</button>

	<!-- Menu Dropdown -->
	<!-- Esta seção contém as opções disponíveis -->
	<div [class.open]="isOpen()" class="selector-menu">
		<!-- Iteração sobre os itens para criar os rótulos -->
		@for (item of items(); track item[selectionKey()]) {
			<!-- O clique no rótulo seleciona o item diretamente -->
			<button
				type="button"
				class="selector-item"
				[ngClass]="{ selected: checkedValues()(item) }"
				(click)="toggleSelection(item)"
				(tabindex)="(0)"
				(keydown)="handleKeydown($event, item)"
			>
				<span>{{ item[label()] }}</span>
			</button>
		}
	</div>
</div>
